* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    background-color: #F3F6FD;
    font-weight: 400;
}

.app {
   display: flex;
}

.logo {
    margin-bottom: 50px;
}

.panel {
   background-color: white;
   min-height: 100vh;
   padding: 30px;

}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__item {
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
}


.menu__item:hover {
    background: #6A6AFB;
}

.menu__item:hover img {
    filter: brightness(0) invert(1);
}

.menu__item__active {
    background: #5051F9;
}

.menu__item__active img {
    filter: brightness(0) invert(1);
}


.menu__add {
    background: none;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.menu__add:hover {
    background: #EFF2FF;
}

.content {
    min-width: 900px;
    margin-top: 45px;
    padding: 45px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    font-size: 30px;
    line-height: 33px;
    color: #000000;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    justify-content: space-between;

}

.progress__name {
    font-size: 14px;
    line-height: 16px;
    color: #232360;
}

.progress__percent {
    font-size: 12px;
    line-height: 13px;
    color: #768396;
}

.progress__bar {
    width: 100%;
    background: #E6E9ED;
    border-radius: 4px;
    height: 5px;
    position: relative;
}

.progress__cover-bar {
    position: absolute;
    width: 50%;
    height: 5px;
    border-radius: 4px;
    background: #5051f9;
}